@model datphim.Models.Tb_Ve

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tb_Ve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tb_HoaDon.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_HoaDon.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_LichChieu_PhongChieu.Ma_PhongChieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_LichChieu_PhongChieu.Ma_PhongChieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_PhongGhe.Ma_PhongChieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_PhongGhe.Ma_PhongChieu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_ve }) |
    @Html.ActionLink("Back to List", "Index")
</p>
