@model IEnumerable<datphim.Models.Tb_PhanLoaiPhim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/dashboard.cshtml";
}



<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-default" })
</p>



<div class="row">
    <div class="col-md-12">
        <!--   Kitchen Sink -->
        <div class="card">
            <div class="card-action">
                Phân loại phim
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TenTiengViet)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenTiengViet)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Ma_Loai }, new { @class = "btn btn-info" }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Ma_Loai }, new { @class = "btn btn-primary" }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Ma_Loai }, new { @class = "btn btn-warning" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
