
@model IEnumerable<datphim.Models.Tb_HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/dashboard.cshtml";
}

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-default" })
</p>


<div class="row">
    <div class="col-md-12">
        <!--   Kitchen Sink -->
        <div class="card">
            <div class="card-action">
                Lịch chiếu
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.GiaTien)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SoLuong)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NgayTao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ThanhTien)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tb_LichChieu_PhongChieu.Ma_PhongChieu)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Tb_NguoiDung.UserName)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GiaTien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLuong)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayTao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ThanhTien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tb_LichChieu_PhongChieu.Ma_PhongChieu)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tb_NguoiDung.UserName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Ma_HoaDon }, new { @class = "btn btn-info" }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Ma_HoaDon }, new { @class = "btn btn-primary" }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Ma_HoaDon }, new { @class = "btn btn-warning" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

