@model datphim.Models.Tb_PhongGhe

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tb_PhongGhe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGhe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_LoaiGhe.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_LoaiGhe.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tb_Phong.LoaiPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tb_Phong.LoaiPhong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_PhongGhe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
