@model datphim.Models.Tb_Phong

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tb_Phong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongGhe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_PhongChieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
