@model datphim.Models.Tb_NguoiDung

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/assets/css/login.css">
    
    <link rel="stylesheet" href="~/Content/assets/css/header-footer.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/assets/fontawesome-free-6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <title>Login</title>
</head>
<body>

    <!-------------------- Body ------------------>
    <div id="logreg-forms">

        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            <label>@TempData["dangki"]</label>

            <label>@ViewBag.dangnhap</label>
            @Html.AntiForgeryToken()
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> ĐĂNG NHẬP</h1>
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Đăng nhập bằng Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Đăng nhập bằng Google</span> </button>
            </div>
            <p style="text-align:center"> HOẶC  </p>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Email" })
            @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", @placeholder = "Password" })

            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Đăng nhập</button>
            <a href="#" id="forgot_pswd">Quên mật khẩu?</a>
            <hr>
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Đăng ký tài khoản mới</button>


        }



        <form action="/reset/password/" class="form-reset">
            <input type="email" id="resetEmail" class="form-control" placeholder="Email" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Quên mật khẩu</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Trở lại</a>
        </form>




        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-signup" }))
        {
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Đăng nhập bằng Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Đăng nhập bằng Google</span> </button>
            </div>


            <p style="text-align:center">HOẶC</p>
            @Html.AntiForgeryToken()
            @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

            @Html.PasswordFor(m => m.PassWord, new { @id = "user-pass", @class = "form-control", @placeholder = "Nhập mật khẩu" })
            @Html.ValidationMessageFor(m => m.PassWord, "", new { @class = "text-danger" })

            @Html.EditorFor(m => m.TenKH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập họ và tên" } })
            @Html.ValidationMessageFor(m => m.TenKH, "", new { @class = "text-danger" })
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập email" } })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Đăng ký</button>
            <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Trở lại</a>

        }
        <br>

    </div>
    <!-------------------- footer ------------------>
    <!-- Footer -->
    <p style="text-align:center">
        <a href="http://bit.ly/2RjWFMfunction toggleResetPswd(e){
           e.preventDefault();
           $('#logreg-forms .form-signin').toggle() // display:block or none
           $('#logreg-forms .form-reset').toggle() // display:block or none
           }
           function toggleSignUp(e){
           e.preventDefault();
           $('#logreg-forms .form-signin').toggle(); // display:block or none
           $('#logreg-forms .form-signup').toggle(); // display:block or none
           }
           $(()=>
            {
            // Login Register Form
            $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
            $('#logreg-forms #cancel_reset').click(toggleResetPswd);
            $('#logreg-forms #btn-signup').click(toggleSignUp);
            $('#logreg-forms #cancel_signup').click(toggleSignUp);
            })g" target="_blank" style="color:black">
        </a>
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Content/assets/js/login.js"></script>

</body>
</html>


